---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "./style.css"; //to avoid importing style before @import in global.css
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {
            tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BaseLayout>

