---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "404 - not found";
---

<BaseLayout pageTitle={pageTitle}>
    <span style="font-size: 0.7vw;">ㄟ( ▔, ▔ )ㄏ</span>
</BaseLayout>
